html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  overflow: hidden,
}

canvas[resize],
#root {
    width: 100%;
    height: 100%;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
}